# ================= Django =================
DJANGO_SECRET_KEY=change-this-super-secret-key
DJANGO_DEBUG=1
DJANGO_ALLOWED_HOSTS=*

# ================= JWT =================
JWT_ACCESS_TOKEN_LIFETIME_MIN=60
JWT_REFRESH_TOKEN_LIFETIME_DAYS=7

# ================= Admin bootstrap (dibuat otomatis saat migrate) =================
DJANGO_SUPERUSER_USERNAME=admin
DJANGO_SUPERUSER_EMAIL=admin@example.com
DJANGO_SUPERUSER_PASSWORD=admin12345

# ================= PostgreSQL Primary =================
POSTGRES_DB=car_rental_db
POSTGRES_USER=car_rental_user
POSTGRES_PASSWORD=car_rental_pass
POSTGRES_PRIMARY_HOST=postgres_primary
POSTGRES_PRIMARY_PORT=5432

# ================= PostgreSQL Replica =================
POSTGRES_REPLICA_HOST=postgres_replica
POSTGRES_REPLICA_PORT=5432

# User replikasi streaming (dibuat otomatis di primary)
REPLICATION_USER=replicator
REPLICATION_PASSWORD=replicator_pass

# ================= Redis =================
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_DB=0
REDIS_CACHE_TTL=60

# ================= pgAdmin =================
PGADMIN_DEFAULT_EMAIL=admin@example.com
PGADMIN_DEFAULT_PASSWORD=admin12345
